<template>
  <div>
    <NuxtWelcome />
    {{ a }}
    {{ hah() }}
  </div>
</template>

<script setup lang="ts">
import { ref } from "vue";

const a = ref('haha')
const abc = () => {
  let a = 1
  let b = 2
  let c = a + b
  console.log(c)
}

const abcd = () => {
  let a = 1
  let b = 2
  let c = a + b
  console.log(c)
}

const abcde = () => {
  let a = 1
  let b = 2
  let c = a + b
  console.log(c)
}

const abcdefc = () => {
  let a = 1
  let b = 2
  let c = a + b
  console.log(c)
  let d = c * c
  console.log(d)
}

const hah = () => {
  abc()
  abcdefc()
  console.log(123)
  return '12345'
}
</script>